<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Kerri-Ann Bates.</p>
        <img src="/img/robot.png" alt="profile picture" class="portrait">
    </div>

    {{>footer}}
</body>

</html>